.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #bd6490, #c0568a, #b65d7e, #a6538d);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #c291a7, #c291a7, #c291a7, #c291a7);
}

@media (max-width: 500px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (max-width: 500px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}